 * {
     box-sizing: inherit;
 }

 .hearder {
     font-family: Inter;
     font-size: 39px;
     font-weight: 700;
     line-height: 47px;
     letter-spacing: -0.05em;
     text-align: left;
     color: aliceblue;

 }

 ul {
     list-style: none;
 }

 li::before {
     content: "• ";
     color: #61DAFB;

 }

 .hero-conatiner {
     display: flex;
     border: solid;
     height: 80vh;
     width: 100%;
    
     background-image: url("/public/Group.png");
     background-position: right;
     background-repeat: no-repeat;
     flex-direction: column;
     /* align-items: center; */
     background-color: #282D35;
 }

 .unodr-list {
     font-family: Inter;
     font-size: 16px;
     font-weight: 400;
     line-height: 19px;
     letter-spacing: 0em;
     text-align: left;
     color: #FFFFFF;

 }