.main-conatiner {
    display: flex;
    margin: auto;
    justify-content: space-between;
    background-color: #21222A;

}

.navbar-header {
    height: 22.2px;
    /* border-radius: nullpx; */
    color: #61DAFB;
    padding-bottom: 3vh;
}

.navbar-header-2 {
    color: #DEEBF8;
}

.nav-container {
    display: flex;
    width: fit-content;
}

.nav-img {
    margin: auto;
    height: 28.93px;
}

.nav-container-2 {
    padding-top: 2vh;
}